* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --border-radius: 5px;
}
html {

}
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}
.nav_footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
    height: fit-content;
    width: 100%;
    background-color: coral;
    max-width: 470px;
    margin: auto;
    border-top: 1px rgb(212, 212, 212) solid;
}
.container {
    width: 100%;
    max-width: 470px;
    /* padding: 0 5px; */
    padding: 0 12px;
    margin: auto;
    background-color: rgb(190, 190, 190);
    /* display: flex; */
    /* flex-direction: row; */
    /* position: relative; */
}
.hide {
    position: relative;
    background-color: white;
    z-index: 999;
    width: 100%;
    /* height: 100%; */
}
.header {
    width: 100%;
    max-width: 470px;
    margin: auto;
    padding: 15px 0;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px rgba(0, 0, 0, 0.253) solid;
}
.header i {
    width: 26px;
    margin: 0 19px 0 0;
    cursor: pointer;
}
.content {
    /* max-width: fit-content; */
    width: 100%;
    margin: 0 auto;
    max-width: 470px;
    /* padding: 0 5px; */
    padding: 0 12px;
    margin: auto;
    /* padding: 5px 0 0 0; */
    padding: 9px 0 25px 0;
}


.tasks {

    padding: 0px 0px 0px 0px;
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.1);
    /* https://box-shadow.dev/ */
}
.tasks_header {
    padding: 10px 0px 7px 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.26) solid;
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}
.tasks_header_left {
    display: flex;
    align-items: center;
}
.tasks_header_right{
    display: flex;
    margin-right: 12px;
}
.tasks_header i {
    width: 18px;
    margin: 4px 10px 0 0;
}
.tasks_list {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0px 0px;


}
.task_item {
    padding: 12px 0px 8px 10px;
    min-height: 50px;
    /* background-color: rgb(252, 252, 252); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px rgba(0, 0, 0, 0.26) solid;
    cursor: pointer;
    /* box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.1); */
}
.task_item:hover {
    background-color: rgb(236, 236, 236);
}
.task_item:last-child {
    border-radius: 0 0 5px, 5px;
}
.task_item_header {
    margin: 0 0 10px 0;
}
.nomargin {
    margin: 0 0 0 0;
}
.task_item_info {
    color: #474747;
}
.task_item_info span {
    color:rgb(109, 109, 109);
    font-weight: 600;
}
.task_item i {
    width: 26px;
    margin: 0 10px 0 0;
    flex-shrink: 0;
}
.msg_task {
    word-wrap: break-all;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    height: fit-content;
    max-width: 90%;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 18px;
}


.menu {
    padding: 0px 0 0px 0;
    margin: 0 0 20px 0;
    display: grid;

   --grid-layout-gap: 8px;
   --grid-layout-gap-row: 8px;
   --grid-layout-gap-col: 8px;
   --grid-column-count: 1;
   --grid-item--min-width: 108px;

   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap-col));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    /* grid-gap: var(--grid-layout-gap); */
    column-gap: var(--grid-layout-gap-col);
    row-gap: var(--grid-layout-gap-row);
}

.menu_item {
    /* display: flex; */
    display: inline-grid;
    /* min-width: 230px;
    max-width: 230px; */
    height: 108px;
    background-color: rgb(243, 243, 243);
    border-radius: 18px;
    padding: 27px 0 0 27px;

    cursor: pointer;
    box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.2);
}
.menu_item_thin {
    height: 55px;
    padding: 0px 0 0 24px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item_thin p {
    margin-right: 25px;
}
.menu_item_name {
    margin: -20px 0 0 0;
    line-height: .9;

}

.menu_l {
    --grid-layout-gap: 15px;
    --grid-layout-gap-row: 18px;
    --grid-layout-gap-col: 12px;
    --grid-column-count: 2;
    --grid-item--min-width: 30px;
    padding: 0 23px;


}
.menu_item_l {
    height: 174px;
}
.menu_wrapper {
    padding: 16px;
}
.menu_s {
    --grid-layout-gap: 24px;
    --grid-column-count: 4;
    --grid-item--min-width: 30px;
    justify-content: center;
    align-content: center;
    padding: 6px;
    /* min-width: 220px; */
}
.menu_item_s {
    height: 48px;
    /* height: 34px; */

}
.menu_item_s i {
    width: 34px;
    margin: 0 auto;
}

.slider {
    /* https://codepen.io/thebabydino/pen/PRWqMg/ */
	--n: 1;
    position: relative;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	width: 100%;
	width: calc(var(--n)*100%);
	height: 50vw; max-height: 100vh;
	transform: translate(calc(var(--i, 0)/var(--n)*-100%));

    font-family: sans-serif;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}
.slide_container {
    width: fit-content;
    width: 100%;
    height: 100%;
    margin: 0 12px;
    z-index: -50;
    /* width: calc(100%/var(--n)); */
    /* user-select: none; */
    /* pointer-events: none */
}
